<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitaldream.linkskool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.StudentRegistrationDetails"></activity>
        <activity android:name=".Activities.CourseRegistrationDetails" />
        <activity android:name=".Activities.RegYearList" />
        <activity android:name=".Activities.Courses" />
        <activity android:name=".Activities.CourseRegistration" />
        <activity android:name=".Activities.NewsView" />
        <activity android:name=".Activities.AddNews" />
        <activity android:name=".Activities.Flashcard" />
        <activity android:name=".Activities.AnswerView" />
        <activity android:name=".Activities.QuestionView" />
        <activity android:name=".Activities.ResponseDetails" />
        <activity android:name=".Activities.ViewResponses" />
        <activity android:name=".Activities.FlashView" />
        <activity android:name=".ExamActivity2" />
        <activity android:name=".Activities.WifiActivity" />
        <activity android:name=".Activities.AdminElearningCourses" />
        <activity android:name=".Activities.CreateVideoLink" />
        <activity
            android:name=".Activities.VideoContent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="VideoContent" />
        <activity android:name=".Activities.RenderAssessment" />
        <activity android:name=".Activities.ReferSchool" />
        <activity android:name=".Activities.VideoCourses" />
        <activity android:name=".Activities.Assessment" />
        <activity android:name=".Activities.ContactUs" />
        <activity android:name=".Activities.TestUpload" />
        <activity android:name=".Activities.StudentElearningCourses" />
        <activity android:name=".Activities.ContentDownload" />
        <activity android:name=".Activities.ContentUpload" />
        <activity android:name=".Activities.CourseOutlines" />
        <activity android:name=".Activities.ElearningCourses" />
        <activity android:name=".ELearning" />
        <activity android:name=".Utils.AssignCourseDialog" />
        <activity android:name=".Activities.CoursesAssigned" />
        <activity android:name=".Activities.FormClass" />
        <activity android:name=".Utils.CustomCBTDialog" />
        <activity android:name=".ExamActivity" />
        <activity android:name=".Utils.CustomUpdateDialog" />
        <activity android:name=".VideoUtils" />
        <activity android:name=".Activities.StaffCourses" />
        <activity android:name=".Activities.StaffUtils" />
        <activity android:name=".Activities.AddCourse" />
        <activity android:name=".Activities.AllTeachers" />
        <activity android:name=".Activities.AddLevel" />
        <activity android:name=".Activities.GeneralSettings" />
        <activity android:name=".Activities.AssessmentSetting" />
        <activity android:name=".Activities.AddClass" />
        <activity android:name=".Activities.GradeSettings" />
        <activity android:name=".Activities.LevelSettings" />
        <activity android:name=".Activities.CourseSettings" />
        <activity android:name=".Activities.Settings" />
        <activity android:name=".Activities.ClassListUtil" />
        <activity android:name=".Activities.ViewClassResultWebview" />
        <activity android:name=".Activities.ClassResultDetails" />
        <activity android:name=".Activities.SubjectResultUtil" />
        <activity
            android:name=".YoutubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="YoutubePlayerActivity" />
        <activity android:name=".Activities.StudentDashboardActivity" />
        <activity android:name=".Activities.AddResult" />
        <activity android:name=".Activities.StaffDashboardActivity" />
        <activity android:name=".ViewResultWebView" />
        <activity android:name=".Activities.TeacherProfileEdit" />
        <activity android:name=".Activities.AddTeacher" />
        <activity
            android:name=".Activities.SudentDetailsEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddStudent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StudentResultDownload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ClassResultDownload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NewsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TeacherProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TeacherContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StudentProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StudentContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StaffEnterResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".Utils.FileTransferService"
            android:enabled="true" />
    </application>

</manifest>